/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-background-color: var(--black-color, #000028);
  --main-background-image: url(../images/cover-image-dark.png);
  --main-text-color: var(--pink-color, #f1b2ce);
  --decorated-zone-color: var(--red-color, #ff0070);
  --decorated-text-color: var(--red-color, #ff0070);
  --second-text-color: var(--black-color, #000028);
  --title-color: var(--purple-color, #db00ff);
  --accent-color: var(--red-color, #ff0070);
  --content-title-color: var(--red-color, #ff0070);
  --content-link-shadow-color: var(--red-color, #ff0070);

  transition: all 1.5s;
}
