/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-text-color: var(--gray-color, #353430);
  --page-second-text-color: var(--gray-color, #353430);
  --page-background-image: url(../images/cover-image-light.png);
  --page-title-color: var(--violet-color, #ffc2e6);
  --decorated-zone-color: var(--gray-color, #353430);
  --content-background-color: var(--white-color, #fff1f7);
  --content-title-color: var(--gray-color, #353430);
  --content-link-shadow-color: var(--magenta-color, #ff8dcb);
  --accent-color: var(--magenta-color, #ff8dcb);

  transition: all 1s;
}

.page.theme_light .decorated-text {
  display: none;
}

@media (width <= 768px) {
  .page.theme_light .header__title-shadow,
  .page.theme_light .footer__title-shadow {
    --page-title-shadow-color: var(--page-title-shadow-light-color);
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --page-text-color: var(--gray-color, #353430);
    --page-second-text-color: var(--gray-color, #353430);
    --page-background-image: url(../images/cover-image-light.png);
    --page-title-color: var(--violet-color, #ffc2e6);
    --decorated-zone-color: var(--gray-color, #353430);
    --content-background-color: var(--white-color, #fff1f7);
    --content-title-color: var(--gray-color, #353430);
    --content-link-shadow-color: var(--magenta-color, #ff8dcb);
    --accent-color: var(--magenta-color, #ff8dcb);
  
    transition: all 1.5s;
  }

  .decorated-text {
    display: none;
  }

  @media (width <= 768px) {
    .header__title-shadow,
    .footer__title-shadow {
      --page-title-shadow-color: var(--page-title-shadow-light-color);
    }
  }
}
