
/* СТИЛИ ДЛЯ ТЕМНОЙ ТЕМЫ */

.page {
  display: grid;
  gap: calc(40 / 16 * 1rem);
  color: var(--main-text-color);
  font-family: var(--main-font, Arial, sans-serif);
  font-size: var(--main-text-size);
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  padding: calc(10 / 16 * 1rem);
  min-block-size: calc(668 / 16 * 1rem);
}

.decorated-zone {
  color: var(--decorated-zone-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--position);
  right: var(--position);
  display: block;
  border-inline-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  inline-size: calc(25 / 16 * 1rem);
  block-size: calc(25 / 16 * 1rem);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--position);
  left: var(--position);
  display: block;
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  inline-size: calc(25 / 16 * 1rem);
  block-size: calc(25 / 16 * 1rem);
}

.decorated-text {
  position: absolute;
  top: calc(10 / 16 * 1rem);
  right: calc(39 / 16 * 1rem);
  color: var(--decorated-text-color);
}

.decorated-text::before {
  content: 'Rec';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  color: currentColor;
  text-transform: uppercase;
}

.decorated-text::after {
  content: '';
  position: absolute;
  top: calc(8 / 16 * 1rem);
  left: calc(11 / 16 * 1rem);
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: currentColor;
  inline-size: calc(9 / 16 * 1rem);
  block-size: calc(9 / 16 * 1rem);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: calc(10 / 16 * 1rem);
}

.header__theme-menu-button {
  border: none;
  padding: 0;
  padding-inline: calc(13 / 16 * 1rem);
  padding-block-end: calc(2.5 / 16 * 1rem);
  color: currentColor;
  font-size: inherit;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__title,
.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--sm-dynamic-font);
  line-height: 0.825;
}

.header__title-shadow {
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__text {
  color: var(--second-text-color);
  font-weight: bold;
  font-size: inherit;
  line-height: 1.3;
}

/* MAIN SECTION */

.content {
  display: grid;
  gap: calc(50 / 16 * 1rem);
  padding-inline: calc(10 / 16 * 1rem);
}

.control,
.concentration,
.instruction {
  display: grid;
  gap: calc(20 / 16 * 1rem);
}

.content__title {
  color: var(--content-title-color);
  font-size: inherit;
}

.content__card-list-item:not(:last-of-type) {
  margin-block-end: calc(20 / 16 * 1rem);
}

.card__title {
  margin-block-end: calc(9 / 16 * 1rem);
  color: var(--second-text-color);
  font-size: inherit;
}

.font-normal {
  font-weight: normal;
}

.margin-bottom {
  margin-block-end: calc(20 / 16 * 1rem);
}

.card__text {
  line-height: 1.3;
}

.content__link {
  display: inline-block;
  padding: 1px;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--content-link-shadow-color);
  cursor: pointer;
}

.picture {
  display: grid;
}

.image {
  inline-size: 100%;
}

/* FOOTER */

.footer {
  position: relative;
  display: grid;
  min-block-size: calc(668 / 16 * 1rem);
}

.footer__title {
  justify-self: center;
  align-self: center;
}

.footer__title-shadow {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

/* СОСТОЯНИЕ ЭЛЕМЕНТОВ */

.header__theme-menu-button:focus,
.content__link:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible,
.content__link:hover {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/* МЕДИАЗАПРОСЫ ДЛЯ БРЕЙКПОИНТОВ */

@media (width > 375px) {
  .page {
    gap: calc(60 / 16 * 1rem);
  }

  .header {
    padding: calc(20 / 16 * 1rem);
  }

  .decorated-zone::before,
  .decorated-zone::after {
    --position: calc(20 / 16 * 1rem);
  }

  .decorated-text {
    top: calc(20 / 16 * 1rem);
    right: calc(49 / 16 * 1rem);
  }

  .header__title {
    position: relative;
    inset-inline-end: calc(20 / 16 * 1rem);
  }

  .content {
    gap: calc(80 / 16 * 1rem);
    padding-inline: calc(20 / 16 * 1rem);
  }

  .instruction {
    grid-template-columns: minmax(236px, 315px) minmax(472px, 648px);
  }
}

@media (width <= 768px) {
  .page.theme_light {
    --title-shadow-color: var(--title-shadow-light-color);
  }
}

@media (375px < width <= 768px) {
  .header,
  .footer {
    min-block-size: calc(1024 / 16 * 1rem);
  }

  .header__text {
    justify-self: end;
    inline-size: calc(364 / 16 * 1rem);
  }

  .concentration .content__title {
    max-inline-size: calc(236 / 16 * 1rem);
  }
}

@media (width >= 768px) {
  .control {
    grid-template-columns: minmax(236px, 315px) minmax(472px, 648px);
  }
}

@media (width > 768px) {
  .header,
  .footer {
    min-block-size: calc(768 / 16 * 1rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__title,
  .footer__title {
    font-size: var(--xl-dynamic-font);
  }

  .header__title-shadow {
    text-shadow: 4px 4px 0 var(--title-shadow-color);
  }

  .header__text {
    justify-self: end;
    inline-size: calc(491 / 16 * 1rem);
  }

  .concentration .content__title {
    max-inline-size: calc(315 / 16 * 1rem);
  }

  .concentration .content__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(20 / 16 * 1rem);
  }

  .concentration .content__card-list-item {
    flex-grow: 1;
    flex-basis: calc(314 / 16 * 1rem);
  }
}

/* МЕДИАЗАПРОСЫ ДЛЯ ПРЕДПОЧТЕНИЙ ПОЛЬЗОВАТЕЛЯ */

/* @media (prefers-color-scheme: dark) {
  .page {
    --main-background-color: var(--black-color, #000028);
    --main-background-image: url(../images/cover-image-dark.png);
    --main-text-color: var(--pink-color, #f1b2ce);
    --decorated-zone-color: var(--red-color, #ff0070);
    --decorated-text-color: var(--red-color, #ff0070);
    --second-text-color: var(--black-color, #000028);
    --title-color: var(--purple-color, #db00ff);
    --accent-color: var(--red-color, #ff0070);
    --content-title-color: var(--red-color, #ff0070);
    --content-link-shadow-color: var(--red-color, #ff0070);

    transition: all 1.5s;
  }
} */

/* @media (prefers-color-scheme: light) {
  .page {
    --main-background-color: var(--white-color, #fff1f7);
    --main-background-image: url(../images/cover-image-light.png);
    --main-text-color: var(--gray-color, #353430);
    --decorated-zone-color: var(--gray-color, #353430);
    --decorated-text-color: transparent;
    --second-text-color: var(--gray-color, #353430);
    --title-color: var(--violet-color, #ffc2e6);
    --accent-color: var(--magenta-color, #ff8dcb);
    --content-title-color: var(--gray-color, #353430);
    --content-link-shadow-color: var(--magenta-color, #ff8dcb);
  
    transition: all 1.5s;
  }
} */
