/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {

  --main-font: 'IBM Plex mono';

  --main-background-image: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --second-text-color: #000028;

  --decorated-zone-color: #ff0070;
  --decorated-text-color: #ff0070;

  --menu-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --accent-color: #ff0070;
 
  --main-text-size: 1.125rem;
  --position: calc(10 / 16 * 1rem);

  --sm-dynamic-font: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --xl-dynamic-font: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

}
