/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --white-color: #fff1f7;
  --pink-color: #f1b2ce;
  --red-color: #ff0070;
  --magenta-color: #ff8dcb;
  --purple-color: #db00ff;
  --violet-color: #ffc2e6;
  --gray-color: #353430;
  --black-color: #000028;

  --main-bg-color: var(--black-color, #000028);
  --main-text-color: var(--pink-color, #f1b2ce);
  --second-text-color: var(--black-color, #000028);
  --content-title-color: var(--red-color, #ff0070);
  
  --decorated-zone-color: var(--red-color, #ff0070);
  --decorated-text-color: var(--red-color, #ff0070);

  --title-color: var(--purple-color, #db00ff);
  --title-shadow-color: var(--red-color, #ff0070);
  --title-shadow-light-color: var(--magenta-color, #ff8dcb);
  --content-link-shadow-color: var(--red-color, #ff0070);
  --accent-color: var(--red-color, #ff0070);

  --main-font: 'IBM Plex mono';
  --main-background-image: url(../images/cover-image-dark.png);
  --main-text-size: 1.125rem;
  --position: calc(10 / 16 * 1rem);

  --sm-dynamic-font: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --xl-dynamic-font: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
